[submodule "unity"]
	path = external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "Arduino-CMake-Toolchain"]
	path = external/Arduino-CMake-Toolchain
	url = https://github.com/a9183756-gh/Arduino-CMake-Toolchain.git
